Repository ubvu/open-handbook, pull requests merged in 2024-09, with the labels that each got.

#149 Rename "pathway" to "guide"
  README.md
  _components/Cta.jsx
  _components/Features.jsx
  _quarto.yml
  about.qmd
  contributing.qmd
  editors-guide.qmd
  guides.qmd
  guides/collect-and-store.qmd
  guides/data-lifecycle.qmd
  guides/discover-and-initiate.qmd
  guides/document-and-preserve.qmd
  guides/plan-and-design.qmd
  guides/process-and-analyze.qmd
  guides/publish-and-share.qmd
  pathways-listing.json
  pathways.html
  pathways.qmd
  topics/data-protection.qmd
  topics/data-storage.qmd
Labels: Implement, QA

#134 Update plan-and-design.qmd
  _quarto.yml
  guides/plan-and-design.qmd
  utils/include-files.lua
Labels: Guide

#118 Add trainings topic
  topics/trainings.qmd
Labels: Topic

#204 Ignore github contributors links
  .github/workflows/external-link-checker.yml
Labels: QA
